* {  
    box-sizing: border-box;  
  }  
    
  body {  
    font-family: Arial;  
    padding: 10px;  
    background: darkred;  
  }  
    
  /* Header/Blog Title */   
  .header {   
    padding: 30px;   
    text-align: center;   
    background: burlywood;   
  }   
    
  .header h1 {   
    font-size: 50px;   
  }   
     
  /* Style the top navigation bar */   
  .topnav {   
    overflow: hidden;   
    background-color: black;   
  }   
     
  /* Style the topnav links */   
  .topnav a {   
    float: left;   
    display: block;   
    color: #f2f2f2;   
    text-align: center;   
    padding: 14px 16px;   
    text-decoration: none;   
  }   
     
  /* Change color on hover */   
  .topnav a:hover {   
    background-color: #ddd;   
    color: #757575;   
  }   
    
  /* Create two unequal columns that floats next to each other */  
  /* Left column */  
  .leftcolumn {     
    float: left;  
    width: 100%;  
  }  
    
  /* Right column */  
  .rightcolumn {  
    float: left;  
    width: 25%;  
    background-color: burlywood;  
    padding-left: 20px;  
  }  
    
  /* Fake image */  
  .fakeimg {  
    background-color: #aaa;  
    width: 100%;  
    padding: 20px;  
  }  
    
  /* Add a card effect for articles */  
  .card {  
    background-color:burlywood;  
    padding: 20px;  
    margin-top: 20px;  
  }  
    
  /* Clear floats after the columns */  
  .row::after {  
    content: "";  
    display: table;  
    clear: both;  
  }  
    
  /* Footer */  
  .footer {  
    padding: 20px;  
    text-align: center;  
    margin-top: 20px;  
    background: burlywood;   
   
  }  
    
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */   
    @media screen and (max-width: 800px) {   
      .leftcolumn, .rightcolumn {      
        width: 100%;   
        padding: 0;   
      }   
    }   
       
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */   
    @media screen and (max-width: 400px) {   
      .topnav a {   
        float: none;   
        width: 100%;   
      }   
  } 
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}  
    
  body, html {  
    height: 100%;  
    line-height: 1.8;  
  }  
    
  /* Full height image header */  
  .bgimg-1 {  
    background-position: center;  
    background-size: cover;  
    min-height: 100%;  
  }  
    
  .w3-bar .w3-button {  
    padding: 16px;  
  }
  div.gallery {  
    border: 1px solid #ccc;  
  }  
    
  div.gallery:hover {  
    border: 1px solid #ccc;  
  }  
    
  div.gallery img {  
    width: 100%;  
    height: auto;  
  }  
    
  div.desc {  
    padding: 15px;  
    text-align: center;  
  }  
    
  * {  
    box-sizing: border-box;  
  }  
    
  .responsive {  
    padding: 0 6px;  
    float: left;  
    width: 24.99999%;  
  }  
    
  @media only screen and (max-width: 700px) {  
    .responsive {  
      width: 49.99999%;  
      margin: 6px 0;  
    }  
  }  
    
  @media only screen and (max-width: 500px) {  
    .responsive {  
      width: 100%;  
    }  
  }  
    
  .clearfix:after {  
    content: "";  
    display: table;  
    clear: both;  
  }